.page-tip .pagination li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ae81ff;
    background: #add9e4;
}
.page-tip{
    margin-right: 22px;
    float: right;
    font-weight: 700;
}
.page-tip .active{
    color: red;
}
.page-tip .disabled{
    color: #888888;
}
.listorder input{
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}